<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 50px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center" style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #2980b9;">
                                <strong>Instalación de Sistemas Operativos 🖥️💾</strong>
                            </h5>
                            <p class="card-text" style="font-family: 'Roboto', sans-serif; font-size: 1rem; color: #2c3e50; line-height: 1.6;">
                                <strong>Instalamos sistemas operativos en tu computadora, asegurando su correcto funcionamiento y estabilidad. 🌐⚙️ ¡Tu equipo al 100%!</strong>
                            </p>
                            
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center" style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #ff7f50;">
                                <strong>Instalación de Software de Oficina 💼📑</strong>
                            </h5>
                            <p class="card-text" style="font-family: 'Roboto', sans-serif; font-size: 1rem; color: #34495e; line-height: 1.6;">
                                <strong>Ofrecemos la instalación de todo el software necesario para tu oficina, incluyendo herramientas de productividad y colaboración. 📊🖱️ ¡Haz que tu equipo trabaje de manera eficiente!</strong>
                            </p>
                            
                            
                            
                    
                         
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center" style="font-family: 'Roboto', sans-serif; font-weight: 700; color: #ff7f50;">
                                <strong>Reparación de Computadoras 🖥️🔧</strong>
                            </h5>
                            <p class="card-text" style="font-family: 'Roboto', sans-serif; font-size: 1rem; color: #34495e; line-height: 1.6;">
                                <strong>Ofrecemos servicios profesionales de reparación de computadoras, asegurando que tu equipo funcione como nuevo. 🛠️ Desde problemas de hardware hasta software, ¡nos encargamos de todo! 💻</strong>
                            </p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>Servicio mas Vendido</h1>
            <div class="card mb-3">
                <img class="card-img-top" src="assets/windows10pro.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Instalacion Windows 10 PRO</h5>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Detalles
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Mas detalles</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p style="font-family: 'Poppins', sans-serif; font-size: 1.1rem; color: #34495e;">
                                        Instalación limpia y original de Windows 10 Pro 🖥️, con todos los programas esenciales para asegurar un funcionamiento óptimo y sin problemas.
                                    </p>
                                    

                                    <b style="font-size: 1.3rem; color: #e67e22;">Precio: $15000 + IVA 💰</b>
                                    <p style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 1.1rem; color: #34495e;">
                                        Puedes agregar herramientas adicionales a la instalación de Windows 10 Pro, pero tendrán un costo extra debido a licencias y servicios adicionales. Aquí te mostramos las opciones disponibles:
                                    </p>
                                    
                                    <ul>
                                        <li>Microsoft Office 💼 - Una suite de productividad para tus documentos, hojas de cálculo y presentaciones.</li>
                                        <li>Antivirus a su elección 🛡️ - Protege tu equipo contra virus y malware con el antivirus que prefieras o el recomendado por nosotros.
                                    </ul>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
